.card-img-top{
    height: 350px;
}

.search::-webkit-input-placeholder {
    color: white !important;
}
 
.search:-moz-placeholder { /* Firefox 18- */
    color: white !important;  
}
 
.search::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;  
}
 
.search::-ms-input-placeholder {  
    color: white !important;  
}

.source-news{
    max-height: 120px;
    max-width: 120px;
}

.source-btns, .source-container{
    height: 500px;
    overflow: auto;
}

.active{
    color: white!important;
}

.search-btn{
    cursor: pointer;
}